$bg-color: red !default;

.nav {
    ul {
        list-style: none;
        display: flex;
        background-color: aliceblue;
        padding: 0;
        li {
            flex: 1;
            text-align: center;

            a {
                display: block;
                padding: 10px 0;
                text-decoration: none;
                &:global(.active) {
                    background-color: rgb(58, 90, 149);
                }
            } 
        }
    }
}

.h2 {
    background-color: $bg-color;
    color: green;
}
