.-sHA1 ul{list-style:none;display:flex;background-color:aliceblue;padding:10px 0}.-sHA1 ul li{flex:1;text-align:center}.-sHA1 ul li a.active{background-color:cornflowerblue}._3TsO7{background-color:pink;color:purple}

